body{
   margin-left:200px ;
    margin-right: 200px;
    position: relative;
    height: 100%;
}

.wd{
    width: 1400px;
    height: 1100px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.pd{
    width: 550px;
    height: 250px;
    background: rgb(82,45,232);
    margin-left: 220px;
   margin-top: 50px;
   border-radius: 20px;
   position: relative;
   bottom: 50px;
   left: 20px;
}
.pl{
    width: 550px;
    height: 250px;
    background:white;
    margin-left: 300px;
   margin-top: 50px;
   border-radius: 20px;
   position: relative;
   top: 50px;
   left: 300px;
}
.earning{
    font-size: medium;
    font-weight: 200;
   padding-top: 20px;
   padding-left: 20px;
    color: #f3e7e9;
}
.earning-right{
    font-size: medium;
    font-weight: 200;
   padding-top: 50px;
   padding-left: 20px;
    color:black;
    
}
.img{
  display: flex;
 justify-self:end;
gap: 350px;

}
.size{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.dolar-right{
    padding-left: 20px;
    font-size:40px;
    color: black;
}
.dolar{
    padding-left: 20px;
    font-size:40px;
    color: white;
}
.high{
    font-size:small;
    font-weight: 100;
   padding-left: 20px;
    color: white;
    position: relative;
  /* bottom: 20px; */
}
.high2{
  font-size:small;
  font-weight: 100;
 padding-left: 20px;
  color: black;
  position: relative;
/* bottom: 20px; */
}
.span{
  border: 2px solid darkgray;
  box-shadow: 5px;
  background-color:darkgrey;
  border-radius: 5px;
}

.swiper {
  width:950px;
  height: 250px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}






  .review{
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    font-weight: normal;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display: 20px;
    width: 700px;
    margin-left: 100px;
  }

  .button{
    width: 70px;
    height: 30px;
    border: 1px solid slategrey;
    border-radius: 12px;
    padding-left: 40px;
    padding-top: 15px;
    
  }
  .button2{
    width: 70px;
    height: 30px;
    border: 1px solid slategrey;
    background-color: blue;
    border-radius: 12px;
    padding-left: 30px;
    padding-top: 15px;
    color: white;
    
  }
  .flex{
    display: flex;
    justify-content: center;
    gap: 60px;
  }

@media screen and (max-width:576px) {

    body{
   margin-left:10px ;
    margin-right: 100px;
}
.wd{
    width: 500px;
    height: 850px;
  padding-top: 20px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.pl{
    width: 380px;
    height: 230px;
    background:white;
    margin-left: 20px;
   margin-top: 0px;
   border-radius: 20px;
   position: relative;
   left: 20px;
  
}
.pd{
    width: 380px;
    height: 230px;
    background: rgb(82,45,232);
    margin-left: 20px;
   margin-top: 110px;
   border-radius: 20px;
   /* /* position: relative; */
   /* bottom: 50px;
   left: 200px; */
} */

.swiper-slide {
    text-align: center;
    font-size: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper {
    width: 400px;
    height: 250px;
  }
  .img{
    display: flex;
   justify-self:end;
  gap: 200px;
  
  }
}